.cabecalho {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #025959;
    background: linear-gradient(90deg, rgba(1, 40, 64, 1) 0%, rgba(2, 24, 38, 1) 60%);
    z-index: 1030;
}

.texto_logo {
    font-size: clamp(2rem, 5vw, 4rem); 
    color: transparent; 
    background: linear-gradient(90deg, #FFFFFF, #CFD8DC); 
    -webkit-background-clip: text;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 385;
}

.menu a {
    font-family: "Bungee", sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
}
.material-symbols-outlined {
    cursor: pointer;
    color: #FFFFFF;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined:hover{
    color: #7C838A;
}

.menu a:hover {
    color: #7C838A;
}