.fileira-genero {
    margin-bottom: 30px;
    padding: 15px;
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
}

.container-filmes {
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
}

.card-filme {
    flex: 0 0 200px;
    text-align: center;
}

.card-filme img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #7C838A;
    transition: 0.4s;
}

.card-filme img:hover {
    transform: scale(1.05);
    border-color: #0F8C8C;
}

.titulo-filme {
    margin-top: 10px;
    font-family: "Bungee", sans-serif;
    font-size: 0.9rem;
    color: #CFD8DC;
}
.titulo-genero{
    color: #CFD8DC;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: italic;
}
::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #7C838A;
    border-radius: 12px;
}
